hf-xet==1.2.0
MarkupSafe==2.1.5
scipy==1.13.1
networkx==3.2.1
pip==25.2
annotated-types==0.7.0
tokenizers==0.21.4
certifi==2022.12.7
typing_extensions==4.15.0
eval_type_backport==0.3.1
fsspec==2025.10.0
idna==3.4
huggingface-hub==0.36.0
sympy==1.14.0
typing-inspection==0.4.2
sentry-sdk==2.48.0
transformers==4.49.0
packaging==25.0
torchaudio==2.0.1+cu118
gitdb==4.0.12
charset-normalizer==2.1.1
wheel==0.45.1
tqdm==4.67.1
Jinja2==3.1.6
pydantic_core==2.41.5
torch==2.0.0+cu118
setuptools==80.9.0
click==8.1.8
regex==2025.11.3
platformdirs==4.4.0
safetensors==0.7.0
triton==2.0.0
wandb==0.23.1
threadpoolctl==3.6.0
PyYAML==6.0.3
requests==2.28.1
protobuf==6.33.2
filelock==3.19.1
pydantic==2.12.5
joblib==1.5.3
smmap==5.0.2
urllib3==1.26.13
cmake==3.25.0
mpmath==1.3.0
GitPython==3.1.45
pillow==11.3.0
numpy==1.26.3
lit==15.0.7
torchvision==0.15.1+cu118
scikit-learn==1.6.1
